@import 'Colors.scss';

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        width: 0px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888; 
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
}

body{
    display: flex;
    width: 100%;
    height: auto;
}

#root{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: auto;
}
.background{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92vh;
    background: linear-gradient(0deg, #262423 7%, rgba(255, 255, 255, 0) 47.29%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.photo{
    height: 85%;
    width: 100%;
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;

    .logo{
        width: 100%;
        height: 70%;
        // outline: 3px solid red;
        display: flex;
        justify-content: center;
        img{
            width: 80%;
            height: 60%;
            object-fit: cover;
        }
    }
    .down{
        width: 100%;
        height: 12%;
        // outline: 3px solid red;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-decoration: none;
        .down-arrow{
            font-family: 'Material Symbols Outlined';
            font-weight: normal;
            font-style: normal;
            font-size: 70px;
            line-height: 1;
            color: white;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
            -webkit-user-select: none; 
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
        }
    }
}

.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.desc{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAF7ED;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.middle{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #262423 7%, rgba(255, 255, 255, 0) 150%);

    button{
        border-radius: 50px;
        border: 1px solid #FAF7ED;
        background: #CD4C0B;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
        padding: 5px 10px;
        color: white;
    }

    .join{
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // outline: 1px solid red;

        h1{
            color: #FAF7ED;
            text-align: center;
            font-family: "Segoe UI",Arial,sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            width: 65%;
        }
    }
    .options{
        height: 45%;
        display: flex;
        justify-content: space-evenly;
        // outline: 1px solid red;

        div{
            width: 25%;
            height: 100%;
            box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.25);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
            font-size: 16px;
        }
        .first{
            background-image: url("../img/front.jpg");
        }
        .second{
            background-image: url("../img/close.jpg");
        }
        .third{
            background-image: url("../img/back.jpg");
        }
    }
    .links{
        height: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        // outline: 1px solid red;
        div{
            width: 30%;
            height: 60%;
            // border: 1px solid black;
            display: flex;
            align-items: center;
            img{
                height: 50%;
                width: 20%;
            }
            h1{
                font-size: 45px;
                font-style: bold;
                margin-left: 15px;
            }
        }
        a{
            display: flex;
            flex-direction: row;
            text-decoration: none;
            justify-content: center;
            align-items: center;
        }
    }
}